.container {
            display: flex;         /* تضع العناصر بجانب بعضها أفقياً */
            align-items: center;    /* تضبط المحاذاة العمودية في المنتصف */
            gap: 20px;             /* مسافة بين الصورة والنص */
            max-width: auto;      /* تحديد أقصى عرض للحاوية */
            margin: 20px auto;     /* توسط الحاوية في منتصف الصفحة */
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            color:black
        }

        /* التحكم في حجم الصورة */
        .container img {
            width: 500px;          /* عرض الصورة */
            height: auto;          /* الحفاظ على تناسق الأبعاد */
            border-radius: 8px;
            align-items: flex-start;
        }